/*$body-bg: #000000;
$body-color: #ffffff;*/

$primary: #eedc78;
$secondary: #7e7e9a;
$success: #3ec495;
$danger: #ff6060;
$warning: #f3a150;
$info: #80c3e9;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";