/*$body-bg: #000000;
$body-color: #ffffff;*/

$primary: gold;
$secondary: darkblue;
$success: #3ec49e;
$danger: #ff6060;
$warning: rgb(243, 161, 80);

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";